@import "elements.less";
@import "font.less";
@import "font-awesome.less";

html {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	height: 100%;
}

body {
	position: relative;
	background-color: #271e54;
	margin: 0;
	min-height: 100%;
}

.container {
	position: relative;
	display: none;
	z-index: 1;
}

#signin {
	position: absolute;
	width: 100%;
	height: 100%;
	display: none;
	top: 0;
	left: 0;
	flex: 1;
	justify-content: center;
	align-items: center;
	flex-direction: column;

	.logo {
		margin-bottom: 100px;
		max-width: 220px;
	}

	.info {
		padding: 10px 0;
		color: #d2d2d2;
		font-family: Arial, Helvetica;
		font-size: 12px;
		text-align: center;

		a {
			cursor: pointer;
			color: inherit;
		}
	}
}

#home {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	display: none;
	justify-content: space-between;
	flex-direction: column;
	flex: 1;

	.header {
		display: flex;
		position: relative;
		padding: 20px 30px;
		padding-bottom: 15px;
		min-height: 30px;

		#button-signout {
			position: absolute;
			right: 30px;
			top: 25px;
		}

		#button-settings {
			position: absolute;
			right: 70px;
			top: 25px;
		}

		.user-data {
			padding-right: 35px;

			.name {
				overflow: hidden;
				white-space: nowrap;
				text-overflow: ellipsis;
				color: #fff;
				font-family: @FONT_LEMON;
				letter-spacing: 1px;
				font-size: 14px;
				margin-bottom: 5px;
				margin-top: 5px;
			}

			.stat {
				color: #fff;
				font-family: @FONT_LEMON;

				i { color: #FF207B; }
			}
		}
	}

	.screen {
		display: none;
		flex: 1;
		position: relative;

		.screen-title {
			position: relative;
			font-family: @FONT_LEMON;
			letter-spacing: 1px;
			font-size: 24px;
			color: #fff;
			text-shadow: 0 0 5px #fff;
			padding-right: 35px;
			margin-bottom: 10px;

			.button-close-screen {
				position: absolute;
				top: -8px;
				right: 0;
			}
		}

		.screen-content {
			display: flex;
			flex: 1;
			overflow-y: auto;
			flex-direction: column;
			padding: 10px 10px 10px 0;

			ul {
				margin: 0;
				padding: 0;

				li {
					list-style: none;
					margin-bottom: 10px;

					&:last-child {
						margin-bottom: 0;
					}
				}
			}

			&::-webkit-scrollbar {
				width: 5px;
			}

			&::-webkit-scrollbar-track {
				background-color: fade(#000, 10%);
			}

			&::-webkit-scrollbar-thumb {
				background-color: fade(#20C7D9, 30%);
				outline: none;
				border: 0;
				.transition();

				&:hover {
					background-color: fade(#20C7D9, 50%);
				}
			}
		}
	}

	.mission-screen {
		padding: 20px 30px;

		.mission {
			display: flex;
			flex-direction: column;
			width: 450px;
			padding: 10px 0;

			.mission-list-item {
				color: #fff;
				padding: 10px;
				background-color: fade(darken(#271e54, 5%), 80%);
				// border: solid 1px #fff;
				.rounded(8px);

				.mission-title {
					font-family: @FONT_LEMON;
					letter-spacing: 1px;
					font-size: 16px;
					color: #FF207B;
				}

				.mission-detail {
					font-family: Arial, Helvetica;
					font-size: 14px;
					padding: 10px 0 5px;
				}

				.mission-description {
					font-family: Arial, Helvetica;
					font-size: 12px;

					p { margin: 0; padding: 5px 0 15px; }
				}

				.mission-control {
					text-align: right;

					.button-join-mission {
						font-family: @FONT_LEMON;
						letter-spacing: 1px;
						font-size: 12px;
					}
				}
			}
		}
	}

	.menu-screen {
		padding: 20px 30px;
		// background-color: fade(red, 50%);

		.menu {
			display: flex;
			flex-direction: column;
			width: 450px;

			.menu-item {
				display: flex;
				margin-bottom: 30px;
				width: 100%;

				.menu-item-detail {
					display: none;
					position: relative;
					width: 100%;
					padding: 10px;
					padding-left: 120px;
					left: 0;
					.transition();

					&:hover {
						left: 5px;
					}

					.menu-title {
						display: block;
						font-family: @FONT_LEMON;
						letter-spacing: 1px;
						font-size: 18px;
						color: #fff;
						text-shadow: 0 0 5px #fff;
					}

					.menu-content {
						font-family: Arial, Helvetica;
						font-size: 12px;
						color: #fff;
						padding: 10px 0;
					}

					.control {
						display: block;
						text-align: right;
					}
				}
			}

			.button-menu {
				font-family: @FONT_LEMON;
				letter-spacing: 1px;
				font-size: 12px;
			}
		}
	}

	.footer {
		display: flex;
		position: relative;
		padding: 0 30px;
		min-height: 25px;
		font-family: Arial, Helvetica;
		font-size: 12px;
		color: #fff;

		a {
			color: inherit;
			cursor: pointer;
		}
	}
}

.button {
	outline: none;
	cursor: pointer;

	&.bordered {
		width: 185px;
		padding: 10px 15px;
		font-size: 12px;
		color: #20C7D9;
		text-shadow: 0 0 10px #20C7D9;
		border: solid 2px #20C7D9;
		background-color: transparent;
		.box-shadow(0 0 2px #20C7D9);
		.transition();

		i { font-size: 14px; }

		&:hover {
			background-color: fade(#20C7D9, 50%);
			color: lighten(#20C7D9, 20%);
		}
		&:active { background-color: fade(darken(#20C7D9, 30%), 50%); }
	}

	&.icon {
		width: 26px;
		height: 36px;
		padding: 0;
		color: #20C7D9;
		font-size: 26px;
		background-color: transparent;
		border: 0;
		text-shadow: 0 0 10px fade(#20C7D9, 80%);
		.transition();

		&:hover {
			text-shadow: 0 0 10px #20C7D9;
			color: lighten(#20C7D9, 20%);
		}
	}

	&.disabled {
		&.bordered {
			color: #d0d0d0;
			text-shadow: 0 0 10px #d0d0d0;
			border: solid 2px #d0d0d0;
			opacity: 0.4;
			cursor: default;

			&:hover, &:active { background-color: transparent; }
		}
	}
}

.popup {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.8);
	z-index: 9998;
	display: none;
	justify-content: center;
	align-items: center;

	.popup-container {
		position: relative;
		display: flex;
		flex: 1;
		flex-direction: column;
		background-color: fade(#20C7D9, 70%);
		max-width: 800px;
		z-index: 9999;
		border: solid 1px #20C7D9;
		.box-shadow(0 0 20px #20C7D9);
		.rounded(3px);

		font-size: 14px;

		.popup-header, .popup-footer {
			font-family: Arial, Helvetica;
			padding: 10px;
			color: #fff;
		}

		.popup-header {
			font-family: @FONT_LEMON;
			letter-spacing: 1px;
			font-size: 20px;
		}
		.popup-content {
			position: relative;
			width: 100%;
			min-height: 250px;
			display: flex;
			flex: 1;
			justify-content: center;
			// align-items: center;

			font-family: Arial, Helvetica;
			color: #fff;
		}
		.popup-footer {
			
		}

		.button-close-poopup {
			position: absolute;
			top: -40px;
			right: 0;
		}
	}
}

.loading-mission {
	font-size: 12px;

	i { font-size: 14px; }
}

/*.mission-list {
	display: flex;
	flex: 1;
	margin-right: 250px;
	height: 300px;
	padding: 10px;
	overflow-y: auto;

	&::-webkit-scrollbar {
		width: 5px;
	}

	&::-webkit-scrollbar-track {
		-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	}

	&::-webkit-scrollbar-thumb {
		background-color: fade(#20C7D9, 80%);
		outline: 1px solid slategrey;
		.transition();

		&:hover {
			background-color: #20C7D9;
			text-shadow: 0 0 10px fade(#20C7D9, 80%);
		}
	}

	.mission-list-item {
		position: relative;
		min-height: 100px;
		border: solid 1px #20C7D9;
		background-color: rgba(0,0,0,.3);
		padding: 10px;
		.rounded(4px);

		.mission-title {
			font-family: @FONT_LEMON;
			letter-spacing: 1px;
			font-size: 16px;
		}

		.mission-control {
			text-align: right;
		}
	}

	ul {
		margin: 0;
		padding: 0;
		width: 100%;

		li {
			list-style: none;
			margin-bottom: 20px;

			&:last-child { margin-bottom: 10px; }
		}
	}
}*/

.loading {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.8);
	z-index: 9999;
	display: flex;
	justify-content: center;
	align-items: center;

	.loading-page {
		color: #fff;
		text-align: center;
		width: 100%;
		font-family: @FONT_LEMON;
		letter-spacing: 1px;
		font-size: 14px;
		display: inline-block;
		vertical-align: middle;

		i {
			vertical-align: middle;
			display: inline-block;
			font-size: 24px;
		}
	}
}